<div id="lista-pessoas"> 
    <table>
        <thead>
            <th>Nome</th>
            <th>Data Nasc.</th>
            <th>Tratamento</th>
            <th>Atendimento</th>
            <th>Check-in</th>
        </thead>
        <tbody id="tabela-pacientes">
        {% for dado in lista %}
            <tr>
                <td><a href="#" id="{{dado.paciente.id}}">{{dado.paciente.nome}}</a></td>
                <td>{{dado.paciente.data_nascimento|date:"j/n/Y"}}</td>
                <td>
                <ul>
                {% for tratamentopaciente in dado.tratamentos %}
                <li>{{tratamentopaciente.tratamento.descricao_basica}}</li>
                {% endfor %}
                </ul>
                </td>
                <td>{{dado.atendimento.data|date:"j/n/Y"}}</td>
				<td align="center"><a href="#" class="checkin" id="{{dado.paciente.id}}"><img alt="" src="../static/img/checkin.png" /></a></td>
			</tr>
        {% endfor %}
        </tbody>
    </table>
</div>
