<style type="text/css">
@import url("/static/css/quinta.css");
</style>

<div class="paciente_consulta">
<table id="borda_fancybox">
<tr>
<td>
<table id="ajax_titulo">
<tr>
<td><img src="/static/img/icon_info.png" width="25" height="25" /> </td>
<td><b>&nbsp;&nbsp;INFORMAÇÕES DO PACIENTE</b> </td>
</tr>
<tr>
<td></td>
<td><b>&nbsp;&nbsp;{{paciente.nome}}</b></td>
</tr>
</table>

<table id="tabela_info_paciente">
    <tr>
        <td>Prioridade:</td>
        <td>{{paciente.prioridade}}</td>
    </tr>
    <tr>
        <td>Tratamento:</td>
        <td>{% for tratamento in tratamentos %}
                {{tratamento.descricao_basica}} &nbsp;
            {% endfor %}
        </td>
    <tr>
        <td>E-mail:</td>
        <td>{{paciente.email}}</td>
    </tr>
    <tr>
        <td>Telefones:</td>
        <td>{{paciente.telefones}}</td>
    </tr>
    <tr>
        <td>Data de Nascimento:</td>
        <td>{{paciente.data_nascimento}}</td>
    </tr>
    <tr>
        <td>Local de Nascimento:</td>
        <td> {{paciente.local_nascimento}}</td>
    </tr>
    <tr>
        <td>Hora de Nascimento:</td>
        <td>{{paciente.hora_nascimento}}</td>
    </tr>
    <tr>
        <td>Endereço:</td>
        <td>{{paciente.endereco}}</td>
    </tr>
    <tr>
        <td>Bairro:</td>
        <td>{{paciente.bairro}}</td>
    </tr>
    <tr>
        <td>Cidade:</td>
        <td>{{paciente.cidade}}</td>
    </tr>
    <tr>
        <td>Estado:</td>
        <td>{{paciente.estado}}</td>
    </tr>
    <tr>
        <td>CEP:</td>
        <td>{{paciente.cep}}</td>
    </tr>
    <tr>
        <td>País:</td>
        <td>{{paciente.pais}}</td>
    </tr>
    <tr>
        <td>Profissão:</td>
        <td>{{paciente.profissao}}</td>
    </tr>
    <tr>
        <td>Estado Civil:</td>
        <td>{{paciente.estado_civil}}</td>
    </tr>
    <tr>
        <td>Sexo:</td>
        <td>{{paciente.sexo}}</td>
    </tr>
    <tr>
        <td>Frequência:</td>
        <td>{{paciente.frequencia}}</td>
    </tr>
    <tr>
        <td>Observação:</td>
        <td>{{paciente.observacao}}</td>
    </tr>
    <tr>
        <td>Tem Ficha:</td>
        <td>{{paciente.tem_ficha}}</td>
    </tr>
    <tr>
        <td>Detalhes:</td>
        <td>{{paciente.detalhe_ficha}}</td>
    </tr>
</table>
<table id=tabela_links_info_paciente>
    <tr>
        <td> <a href="/paciente/{{paciente.id}}" title="Atualizar dados do paciente">
            <img src="/static/img/edit.png"  width="25" height="25"/></a>  
        </td>
        <td> <a href="/atendimento/consultar/{{paciente.id}}" title="Consultar atendimentos">
            <img src="/static/img/list.gif" width="25" height="25"/></a>  
        </td>
        <td>
            <a href="/atendimento/incluir-notificacao/{{paciente.id}}" title="Incluir notificação">
            <img alt="" width="25" height="25" src="/static/img/notification.gif" />
            </a>
        </td>
        <td>
            <a href="/atendimento/realizar-agendamento/{{paciente.id}}" title="Realizar agendamento">
            <img alt="" width="25" height="25" src="/static/img/calendar.png" />
            </a>
        </td>
        {% if voluntario %}
        <td> <a href="/voluntario/{{voluntario.id}}" title="Atualizar dados do voluntário">
            <img src="/static/img/worker-icon.gif" width="25" height="25" /></a>
        </td>
        {% endif %}
    </tr>
</table>
</td>
</tr>
</table>

</div>

