<style type="text/css">
@import url("/static/css/quinta.css");
</style>

<table id="borda_fancybox">
<tr>
<th>
<div class="paciente_checkin" id="paciente_checkin">


<table id="ajax_titulo">
    <tr>
        <td align="center"><img src="/static/img/icon_info.png" width="25" height="25" /> </td>
        <td><b>REALIZAR CHECK-IN</b> </td>
    </tr>
    <tr>
        <td align="center">
        {% if voluntario %}
            <img src="/static/img/worker-icon.gif" width="20" height="20" />
        {% endif %}
        {% for prioridade in paciente.detalheprioridade_set.all %}
            &nbsp;<img src="/static/img/icon_priority.jpg" width="14" height="22" />
        {% endfor %}

        </td>
        <td><b>{{paciente.nome}}</b></td>
    </tr>
    {%if paciente.acompanhante %}
        <tr class="ajax_checkin_acompanhante">
        <td></td>
        <td> Acompanha: {{paciente.acompanhante.nome}}</td>
        <tr>
    {% endif %}
    {%if paciente.observacao %}
        <tr class="ajax_checkin_observacao">
        <td align="center"><img src="/static/img/icon_observacao_red.gif"/></td>
        <td>{{paciente.observacao}}</td>
        <tr>
    {% endif %}

</table>

<div class="tela-checkin-notificacoes">
    {% for ag in agendamentos_ok %}
        [{{ag.data_criacao|date:'d/m/Y'}}] Agendamento:
        {{ag.agenda_tratamento.tratamento.descricao_basica}}
        em {{ag.agenda_tratamento.data|date:'d/m/Y'}}  <br>
    {% endfor %}
    {% for ag in agendamentos_falta %}
        [{{ag.data_criacao|date:'d/m/Y'}}] Agendamento:
        {{ag.agenda_tratamento.tratamento.descricao_basica}}
         em {{ag.agenda_tratamento.data|date:'d/m/Y'}}
        (Faltou a desobsessão. Encaminhar para coordenação para novo agendamento.)
        <br>
    {% endfor %}
    {% for notificacao in notificacoes %}
        [{{notificacao.data_criacao|date:'d/m/Y'}}]
        Notificação: {{notificacao.descricao}} <br>
    {% endfor %}
    <br>
</div>

<form method="POST" id="form_paciente_checkin">
    <table class="ajax_campos">
        {{form}}
    </table>
    <div align="center">
    <div id="tela-checkin-atendimentos">
    <table>
        {% for atendimento in lista %}
            {% if forloop.first %}
                <tr>
                    <th>
                        Data
                    </th>
                    <th>
                        Tratamento
                    </th>
                    <th>
                        Observação
                    </th>
                </tr>

            {% endif %}
            <tr>
            <td>
                {{atendimento.instancia_tratamento.data|date:"d/m/Y"}}
            </td>
            <td>
                {{atendimento.instancia_tratamento.tratamento.descricao_basica}}
            </td>
            <td>
                {{atendimento.observacao}}
            </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    </div>
    <br>
    <div align="center">
    <table id="confirma">
        <tr>
            <!--td>
                <img src="/static/img/sucesso.png" width="35" heigth="35" />
            </td-->
            <td>
                <button type="button" id="checkin_submit">Confirmar</button>
                <!--a href="#" id="checkin_submit">Confirmar</a-->
            </td>
        <tr>
    </table>
    </div>
</form>
<p>{{erros}}</p>
<br>
</div>
</th>
</tr>
</table>
