<style>
#campos{
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size:12px;
    background:#fff;
    border-collapse:collapse;
    text-align:left;
    margin:5px;
    width:90%;
    border: 1px solid #FFF;

}
#campos th{
    font-size:14px;
    font-weight:normal;
    color:#039;
    padding:2px 2px;
}
#campos td{
    color:#669;
    padding:2px 3px;
}
#observacao {
	margin: 0px auto;
	width: 330px;
	border: 1px solid #FFF;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size:12px;
    color: #FF0000;
    background:#fff;
    border-collapse:collapse;
    text-align:left;
}
#observacao td{
	margin: 0px auto;
	vertical-align:middle;
    padding:2px 3px;
}
#acompanhante {
	margin: 0px auto;
	width: 330px;
	border: 1px solid #FFF;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size:12px;
    color: #000000;
    background:#fff;
    border-collapse:collapse;
    text-align:left;
    margin:10px;
    
}
#acompanhante td{
	margin: 0px auto;
	vertical-align:middle;
    padding:2px 4px;
    border: 1px solid #FFF;
}
#titulo{
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size:14px;
    background:#fff;
    border-collapse:collapse;
    text-align:left;
    border: 1px solid #FFF;

}
#titulo td{
    padding:2px 4px;
    vertical-align:middle;
    border: 1px solid #FFF;
    min-width: 50px;
}
#links{
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size:13px;
    background:#fff;
    border-collapse:collapse;
    text-align:left;
    margin:10px;
}
#links td{
    padding:1px 2px;
    vertical-align:middle;
}
#checkin-lista-atendimentos2 {
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size:12px;
    background:#fff;
    border-collapse:collapse;
    text-align:left;
    margin:5px;
    border: 1px solid #FFF;
    max-height:100px;
    max-width:250px;
    overflow: auto;
}
#checkin-lista-atendimentos2 th{
    font-size:13px;
    font-weight:normal;
    color:#039;
    padding:2px 2px;
    text-align: center;
}
#checkin-lista-atendimentos2 td{
    color:#669;
    padding:2px 3px;
    text-align: center;
}
#confirma {
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size:14px;
}
#confirma td{
    color:#000;
    padding:2px 3px;
    text-align: center;
    vertical-align:middle;
}



</style>
<div class="paciente_checkin" id="paciente_checkin">


<table id="titulo">
    <tr>
        <td align="center"><img src="/static/img/info.jpg"/> </td>
        <td><b>REALIZAR CHECK-IN</b> </td>
    </tr>
    <tr>
        <td align="center">
        {% if voluntario %}
            <img src="/static/img/worker-icon.gif" width="20" height="20" />
        {% endif %}
        {% for prioridade in paciente.detalheprioridade_set.all %}
            &nbsp;<img src="/static/img/icon_priority.jpg" width="14" height="22" />
        {% endfor %}

        </td>
        <td><b>{{paciente.nome}}</b></td>
    </tr>
    {%if paciente.acompanhante %}
        <tr id="acompanhante">
        <td></td>
        <td> Acompanha: {{paciente.acompanhante.nome}}</td>
        <tr>
    {% endif %}
    {%if paciente.observacao %}
        <tr id="observacao">
        <td align="center"><img src="/static/img/icon_observacao_red.gif"/></td>
        <td>{{paciente.observacao}}</td>
        <tr>
    {% endif %}
    
</table>


<!--
{% for prioridade in paciente.detalheprioridade_set.all %}
    <img src="/static/img/icon_priority.jpg"/>
    {{prioridade.get_tipo_display}}

    {% if prioridade.data_inicio %}
     - {{prioridade.data_inicio|date:"j"}} de 
     {{prioridade.data_inicio|date:"F"}} de 
     {{prioridade.data_inicio|date:"Y"}} 
    {% endif %}
    <br>
{% endfor %}
-->



<form method="POST" id="form_paciente_checkin">
    <table id="campos">
        {{form}}
    </table>
    <div align="center">
    <div id="checkin-lista-atendimentos2">
    <table>
        {% for atendimento in lista %}
            {% if forloop.first %}
                <tr>
                    <th>
                        Data
                    </th>
                    <th>
                        Tratamento
                    </th>
                </tr>

            {% endif %}
            <tr>
            <td>
                {{atendimento.instancia_tratamento.data|date:"d/m/Y"}}
            </td>
            <td>
                {{atendimento.instancia_tratamento.tratamento.descricao_basica}}
            </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    </div>
    <br>
    <div align="center">
    <table id="confirma">
        <tr>
            <td>
                <img src="/static/img/sucesso.png" width="35" heigth="35" />
            </td>
            <td>
                <a href="#" id="checkin_submit">Confirmar</a>
            </td>
        <tr>
    </table>
    </div>
</form>
<p>{{erros}}</p>
<br>
</div>
