<div id="detalhe-paciente">
	<div id="nome-sala">
		<h1>{{nome}}</h1>
		<p>{{sala}}</p>
	</div>
	<div id="redirecionar">
		<p>Redirecionar: 
			<select>
			{% for tratamento in tratamentos %}
				<option value="{{tratamento.id}})">{{tratamento.display}}</option>
			{% endfor %}
			</select>
		</p>
	</div>
	<div id="obs-prioritario">
		<p>Observação</p>
		<textarea id="observacao"> </textarea>
		<br />
		<input type="checkbox" id="check-prioritario"> É prioritário (ou acompanha uma pessoa prioritária)</input>
	</div>
	<div id="confirmar-chegada">
		<input id="button-confirmar" type="button" value="Confirmar Chegada" />
	</div>
</div>
