<style type="text/css">
@import url("/static/css/quinta.css");
</style>

<table id="borda_fancybox">
<tr>
<th>
<div class="atualiza_paciente_confirma" id="atualiza_paciente_confirma">
<form method="POST" id="form_atualiza_paciente_confirma">
    <table id="ajax_titulo">
        <tr>
            <td align="center"><img src="/static/img/icon_info.png" width="25" height="25" /> </td>
            <td><b>ATUALIZAR PACIENTE</b> </td>
        </tr>
        <tr>
            <td></td>
            <td>{{atendimento.paciente.nome}}</td>
        </tr>
    </table>
    <br>
    Dados Gerais
    <table class="ajax_campos">
        {{form}}
    </table>
    <br>
    Agendamentos
    <table class="ajax_campos">
        <tr>
            <td>Acolhimento: </td>
            <td>{{agendamento_form.agenda_tratamento_acolhimento}} </td>
            <td>{{agendamento_form.fone}} </td>
        </tr>
        <tr>
            <td>Desobsessão: </td>
            <td>{{agendamento_form.agenda_tratamento_desobsessao}} </td>
        </tr>
        <tr>
            <td>Atend. Fraterno: </td>
            <td>{{agendamento_form.agenda_tratamento_af}} </td>
        </tr>
    </table>
    <br>
    Notificações
    <table class="ajax_campos">
        <tr>
        <td> Descrição: </td>
        <td> {{notificacao_form.descricao}} </td>
        </tr>
    </table>
    <table class="ajax_campos">
        <tr>
        <td colspan=4> Tela Impressão: {{notificacao_form.impressao}} &nbsp; &nbsp; &nbsp; 
            Tela Checkin: {{notificacao_form.tela_checkin}} </td>
        </tr>
    </table>
    <table class="ajax_campos">
        <tr>
        <td> Fixo: {{notificacao_form.fixo}} </td>
        <td> Data Validade: {{notificacao_form.data_validade}} </td>
        </tr>
        <tr>
        <td> Prazo: {{notificacao_form.prazo_num}} {{notificacao_form.prazo_unidade}}</td>
        <td> Qtd. Atendimentos: {{notificacao_form.qtd_atendimentos}} </td>
        </tr>
    </table>
    <br>
    <div align="center">
    <table id="confirma">
        <tr>
            <td>
                <button type="button" id="atualiza_paciente_confirma_submit">Confirmar</button>
            </td>
        <tr>
    </table>
    </div>
    <br>
</form>
</div>
</th>
</tr>
</table>
