<div class="paciente_consulta">
<ul>
    <li>Nome Completo: {{paciente.nome}}</li>
    <li>Prioridade: {{paciente.prioridade}}</li>
    <li>E-mail: {{paciente.email}}</li>
    <li>Telefones: {{paciente.telefones}}</li>
    <li>Data de Nascimento: {{paciente.data_nascimento}}</li>
    <li>Local de Nascimento: {{paciente.local_nascimento}}</li>
    <li>Hora de Nascimento: {{paciente.hora_nascimento}}</li>
    <li>Endereço: {{paciente.endereco}}</li>
    <li>Profissão: {{paciente.profissao}}</li>
    <li>Estado Civil: {{paciente.estado_civil}}</li>
    <li>Sexo: {{paciente.sexo}}</li>
    <li>Frequência: {{paciente.frequencia}}</li>
    <li>Observação: {{paciente.observacao}}</li>
    <li>Tem Ficha: {{paciente.tem_ficha}}. Detalhes: {{paciente.detalhe_ficha}}</li>
</ul>

<a href="/paciente/{{paciente.id}}">Atualizar Informações</a>
</div>
