<div class="paciente_checkin" id="paciente_checkin">
<h1>{{paciente.nome}}</h1>
<h1>

{% if voluntario %}
{{voluntario.tipo}}
{% endif %}


{% for prioridade in paciente.detalheprioridade_set.all %}
{{prioridade.get_tipo_display}}

{% if prioridade.data_inicio %}
 - {{prioridade.data_inicio|date:"j"}} de 
 {{prioridade.data_inicio|date:"F"}} de 
 {{prioridade.data_inicio|date:"Y"}} 
{% endif %}
{% endfor %}

{%if paciente.acompanhante %}
<br>
Acompanha:{{paciente.acompanhante.nome}}
{% endif %}

</h1>

{%if paciente.observacao %}
<br />
{{paciente.observacao}}
<br />
{% endif %}


<br />
<form method="POST" id="form_paciente_checkin">
<table>
{{form}}
</table>
<br />
<ul>
<div id="checkin-lista-atendimentos">

{% for atendimento in lista %}
<li>{{atendimento.instancia_tratamento.tratamento.descricao_basica}}
 - {{atendimento.instancia_tratamento.data|date:"d/m/Y"}}
</li>
{% endfor %}

</div>
</ul>
<br />
<a href="#" id="checkin_submit">CONFIRMAR</a>
</form>
<p>{{erros}}</p>
</div>
