<style type="text/css">
@import url("/static/css/quinta.css");
</style>

<div class="paciente_checkin" id="paciente_checkin">
<table id="ajax_titulo">
    <tr>
        <td align="center"><img src="/static/img/icon_info.png" width="25" height="25" /> </td>
        <td><b>REALIZAR CHECK-IN</b> </td>
    </tr>
    <tr>
        <td align="center">
        {% if voluntario %}
            <img src="/static/img/worker-icon.gif" width="20" height="20" />
        {% endif %}
        {% for prioridade in paciente.detalheprioridade_set.all %}
            &nbsp;<img src="/static/img/icon_priority.jpg" width="14" height="22" />
        {% endfor %}

        </td>
        <td><b>{{paciente.nome}}</b></td>
    </tr>
    {%if paciente.acompanhante %}
        <tr class="ajax_checkin_acompanhante">
        <td></td>
        <td> Acompanha: {{paciente.acompanhante.nome}}</td>
        <tr>
    {% endif %}
    {%if paciente.observacao %}
        <tr class="ajax_checkin_observacao">
        <td align="center"><img src="/static/img/icon_observacao_red.gif"/></td>
        <td>{{paciente.observacao}}</td>
        <tr>
    {% endif %}
    
</table>

<br>

<table class="ajax_resultado_checkin_rapido">
    {% if msg_validacao %}
        <tr>
            <td><img src="/static/img/falha.png" width="40" height="40"/></td>
            <td><font color='red'>{{msg_validacao}}</font></td>
        </tr>
    {% endif %}

    {% if dic_checkin %}
        {% if dic_checkin.sucesso %}
            <tr>
            <td> <img src="/static/img/sucesso.png" width="40" height="40"/> </td>
            <td> {{dic_checkin.mensagem}} </td> 
            </tr>
        {% else %}
            <tr>
            <td><img src="/static/img/falha.png" width="40" height="40"/></td>
            <td><font color='red'> {{dic_checkin.mensagem}} </font></td> 
            </tr>
        {% endif %}
    {% endif %}

    {% if dic_ponto %}
        {% if dic_ponto.sucesso %}
            <tr>
            <td> <img src="/static/img/sucesso.png" width="40" height="40"/> </td>
            <td> {{dic_ponto.mensagem}} </td> 
            </tr>
        {% else %}
            <tr>
            <td><img src="/static/img/falha.png" width="40" height="40"/></td>
            <td><font color='red'> {{dic_ponto.mensagem}} </font></td> 
            </tr>
        {% endif %}
    {% endif %}

</table>
<br>

{% if dic_checkin %}
    {% if dic_checkin.sucesso %}
        {% if dic_checkin.senha %}
        <div align="center">
        <table class=ajax_tabela_senha>
            <tr>
            <td> Senha </td> 
            </tr>
            <tr class="ajax_senha">
            <td> {{dic_checkin.senha}} </td> 
            </tr>
        </table>
        </div>
        {% endif %}        
    {% endif %}
{% endif %}

</div>


