<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!--<link rel="stylesheet" href="static/css/style.css" />-->
    <title>{% block title %}Projeto Iluminare{% endblock %}</title>
	<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="/static/js/jquery.fancybox-1.3.4.pack.js"></script>
	<script type="text/javascript" src="/static/js/iluminare.js"></script>
	<script type="text/javascript" src="/static/js/menu.js"></script>
	<link href="/static/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/static/css/quinta.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/static/css/jquery.fancybox-1.3.4.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/static/css/menu.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="iluminare">
    <div id="header">
        <img id="logo" src="/static/img/quinta-logo.png" alt="logo quinta" width="280" height="87" />
        <div id="navcontainer">
            <ul id="qm0" class="qmmc">
                <li><a class="qmparent" href="/">Inicial</a> </li>
                <li><a class="qmparent" href="#">Pacientes</a>
                    <ul style="width:147px;">
                        <li><a href="/paciente/incluir">Incluir Paciente</a></li>
                        <li><a id="cadastro_rapido_paciente" href="#"> Incluir Paciente + Checkin</a></li>
                    </ul>
                </li>
                <li><a class="qmparent" href="#">Atendimentos</a>
                    <ul style="width:127px;">
                        <li><a href="/atendimento/listagem">Imprimir</a></li>
                        <li><a href="/atendimento/listagem-criancas">Imprimir (Crianças)</a></li>
                        <li><a href="/atendimento/confirmacao">Confirmar</a></li>
                        <li><a href="/atendimento/listagem-geral">Listagem Geral</a></li>
                        <li><a href="/atendimento/listagem-geral-fechamento">Listagem Fechamento</a></li>
                    </ul>
                </li>
                <li><a class="qmparent" href="#">Voluntários</a>
                    <ul style="width:137px;">
                        <li><a href="/voluntario/incluir-voluntario">Incluir Voluntário</a></li>
                        <li><a href="/voluntario/relatorio-voluntarios">Listar Voluntários</a></li>
                        <li><a href="/voluntario/consulta-ponto">Consultar Pontos</a></li>
                        <li><a href="/voluntario/registra-ponto">Registrar Pontos</a></li>
                        <li><a href="/voluntario/relatorio-trabalhos">Relatório Trabalhos</a></li>
                    </ul>
                </li>
                <li><a class="qmparent" href="#">Relatórios</a>
                    <ul style="width:126px;">
                        <li><a href="/atendimento/relatorio-atendimentos-dia">Atendimentos no dia</a></li>
                        <li><a href="/atendimento/relatorio-atendimentos-mes">Atendimentos no mês</a></li>
                    </ul>
                </li>
                <li class="qmclear">&nbsp;</li>
            </ul>
            <script type="text/javascript">qm_create(0,false,0,500,false,false,false,false);</script>
        </div>
    </div>
    <br>
    <br>
    <div>
	        <div id="titulo">
            {% if titulo %}
                {{titulo}}
            {% endif %}
            </div>
            <br>
	        <div id="mensagem">
            {% if mensagem %}
                {{mensagem}}
                <br>
                <br>
            {% endif %}
            </div>
	        <div id="mensagem_sucesso">
            {% if mensagem_sucesso %}
                {{mensagem_sucesso}}
                <br>
                <br>
            {% endif %}
            </div>
	        <div id="mensagem_erro">
            {% if mensagem_erro %}
                {{mensagem_erro}}
                <br>
                <br>
            {% endif %}
            </div>
            <div id="content">
            {% block content %}

            {% endblock %}
	        </div>
    </div>
    
    <div id="footer">
		<p>&nbsp; </p>
	</div>
</div>
</body>
</html>
