<div id="div-cadastro-paciente">
<h1>{{paciente.nome}}</h1>
<br>
<br>

{% for dic in lista_dics %}
    {% if dic.sucesso %}
    <table>
        <tr>
        <td> <img src="/static/img/sucesso.png"/> </td>
        <td> <font color=green> {{dic.mensagem}} </font> </td> 
        </tr>
    </table>
    {% if dic.senha %}
    <table>
        <tr>
        <td> <font color="green" > Senha: {{dic.senha}} </td> 
        </tr>
    </table>
    {% endif %}        


    {% else %}
    <table>
        <tr>
        <td> <img src="/static/img/falha.png"/> </td>
        <td> <font color=red> {{dic.mensagem}} </font> </td> 
        </tr>
    </table>
    {% endif %}
    <br>
{% endfor %}

</div>
