<div id="div-cadastro-paciente">
	<form method="post" name="cadastro-paciente" id="form-cadastro-paciente" action="{% url cadastro_rapido_paciente %}">
		<table>
		    <tr>
			    <td>
				    <label for="input-name">Nome:</label>
			    </td>
			    <td>
				    {{ form.nome }} 
			    </td>
			</tr>
			    <td>
			    </td>
			    <td>
                    {{trat_form.tratamentos}}
                </td>
			</tr>
		</table>
		<input type="submit" id="confirmar-cadastro" value="OK" />
		<input type="button" id="cancela-cadastro" value="Cancela"/>
	</form>
</div>
