<style type="text/css">
@import url("/static/css/quinta.css");
</style>

<!--
Ainda não entendi por que o título da página está vindo da página anterior...
CHECKIN RÁPIDO.
De qualquer maneira, está funcionando.
-->

<div id="div-cadastro-paciente">
{% if paciente %}
<table id="ajax_titulo">
    <tr>
        <td>{{paciente.nome}}</td>
    </tr>
</table>
{% endif %}
{% for dic in lista_dics %}
    {% if dic.sucesso %}
    <table class="ajax_resultado_checkin_rapido">
        <tr>
        <td> <img src="/static/img/sucesso.png"/> </td>
        <td> {{dic.mensagem}} </td> 
        </tr>
    </table>
    {% if dic.senha %}
        <div align="center">
        <table class=ajax_tabela_senha>
            <tr>
            <td> Senha </td> 
            </tr>
            <tr class="ajax_senha">
            <td> {{dic.senha}} </td> 
            </tr>
        </table>
        </div>
    {% endif %}        
    {% endif %}        
    {% if not dic.sucesso %}
    <table class='ajax_resultado_checkin_rapido'>
        <tr>
        <td> <img src="/static/img/falha.png"/> </td>
        <td> <font color='red'>{{dic.mensagem}} </font></td> 
        </tr>
    </table>
    {% endif %}
{% endfor %}

</div>
