{% extends "base.html" %}

{% block content %}
<style type="text/css">
label {
    display:none;
}
</style>

<SCRIPT LANGUAGE="JavaScript">
<!--
<!-- Begin
checked = false
function checkAll(field)
{
	 if (checked == false)
        checked = true
    else
        checked = false
          
    for (var i = 0; i < field.elements.length; i++)
        if(field.elements[i].type == 'checkbox' && field.elements[i].name != 'CheckAll')
        	field.elements[i].checked = checked ;
}

//  End -->
</script>

<form name="at1" method="POST">
<table>
<form action="/confimacao/" method="post">
    
    <div class="filtro">
       Data : {{ filtro_form.data }}
       Tratamento: {{ filtro_form.tratamento }}    
       <input type="submit" value="Pesquisar" />    
    </div>
    <br>
    <br>
    
   
</form>

</table>
{% if atendimentos.forms %} 
    <input type="checkbox" name="CheckAll" value="CheckAll" onClick="checkAll(document.at1)"> Selecionar todos
{% endif %}
<br>
<br>
<table>
{{atendimentos.management_form}}
{% for atendimento in atendimentos.forms %}
    {% if forloop.first %}
    <tr>
    {% for coluna in atendimento %}
        {% if coluna.label == 'Id' %}
        <th> &nbsp; </th>
        {% else %}
        <th>{{coluna.label}}</th>
        {% endif %}
    {% endfor %}
    </tr>
    {% endif %}
    <tr>
    {% for coluna in atendimento %}
        <td>
        {{coluna}}
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% if atendimentos.forms %}
    <br>    
    <input type="submit" value="Salvar Dados" />
{% endif %}
</form>



{% endblock %}
