{% extends "base.html" %}

{% block content %}
<style type="text/css">
label {
    display:none;
}
</style>

<form method="POST">
<table>
<form action="/confimacao/" method="post">
    
    <div class="filtro">
       Data : {{ filtro_form.data }}
       Tratamento: {{ filtro_form.tratamento }}    
       <input type="submit" value="Pesquisar" />    
    </div>
    <br>
    <br>
    
   
</form>

</table>

<table>
{{atendimentos.management_form}}
{% for atendimento in atendimentos.forms %}
    {% if forloop.first %}
    <tr>
    {% for coluna in atendimento %}
        {% if coluna.label == 'Id' %}
        <th> &nbsp; </th>
        {% else %}
        <th>{{coluna.label}}</th>
        {% endif %}
    {% endfor %}
    </tr>
    {% endif %}
    <tr>
    {% for coluna in atendimento %}
        <td>
        {{coluna}}
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% if atendimentos.forms %}
    <br>    
    <input type="submit" value="Salvar Dados" />
{% endif %}
</form>



{% endblock %}
