{% extends "base.html"%}
{% block content %}

<form name="form" method="POST" action="/voluntario/consulta-ponto/" >

<table>
       Data : {{ form.data }}
        <input type="submit" value="Pesquisar"/>
</table>
<br>

<table id="tabela-padrao">
    
	{% for voluntario in retorno %}
        {% if forloop.first %}

	      <tr>	
			<th width="40" align="center"> P/F </th>	
		    <th> Nome </th>
		    <th> Tipo </th>
		    <th> Hora Chegada </th>
		    <th> Hora Saída </th>
	      </tr>
	      
        {% endif %}
		
		  <tr>
			{% if voluntario.presente == 'P' %}
                <td align="center"> <img src="/static/img/confirma_atendimento.png" width="20" height="20" /> </td>
            {% else %} {% if voluntario.presente == 'F' %}
			    <td align="center"> <img src="/static/img/nao_confirma_atendimento.png" width="20" height="20" /> </td>
            {% endif %}
			{% endif %}
			
			<td> {{voluntario.nome}} </td>
			<td> {{voluntario.tipo}} </td>
			<td> {{voluntario.hora_chegada}} </td>
			<td> {{voluntario.hora_saida}} </td>
		  </tr>
	{% endfor %}
</table>

</form>
{% endblock %}
