<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <!--<link rel="stylesheet" href="static/css/style.css" />-->
        <title>{% block title %}Projeto Iluminare{% endblock %}</title>
		<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.mousewheel-3.0.4.pack.js"></script>
		<script type="text/javascript" src="/static/js/jquery.fancybox-1.3.4.pack.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#q-paciente").keyup(function(key){
					var nome = $(this).val();
					$("#search-results").load('/paciente/search/' + encodeURIComponent(nome));
				})
				
				function seleciona_paciente(paciente_id, tratamento_id) {
					$.get('/paciente/dialog/detalhe/' + paciente_id + '/' + tratamento_id, 
					function (data) {
						$.fancybox(
							data, {
								'transitionIn': 'elastic',
								'transitionOut': 'elastic'
							}
						);
					});
				};
			})

				</script>
		<link href="/static/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/static/css/quinta.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/static/css/jquery.fancybox-1.3.4.css" media="screen" rel="stylesheet" type="text/css" />
</head>	
<body>
<div id="iluminare">
	<div id="header">
		<img id="logo" src="../static/img/quinta-logo.png" alt="logo quinta" width="280" height="87" />
		<div id="navcontainer">
			<ul id="navlist">
				<li id="active"><a href="#" id="current">Home</a></li>
				<li><a href="#">Cadastro</a></li>
				<li><a href="#">Item three</a></li>
			</ul>
		</div>

	</div>

	<div id="content">
		<div id="search-box">
			<form id="form-search">
				<input type="text" id="q-paciente" name="q-paciente" class="textInput" value="nome do paciente.."></input>
			</form>
		</div>
		<div id="search-button"></div>

		<div id="search-results">
			{% block conteudo %}
			<p>Lista de pessoas...</p>
			{% endblock %}
		</div>
	</div>

	<div id="footer">
		<p> EU TO AQUI </p>
	</div>
</div>
</body>
</html>
