{% extends "base.html" %}

{% block content %}
    <div id="search-box" align="center">
        <form id="form-search">
            <input type="text" id="q-paciente" name="q-paciente" class="textInput" value=""></input>
        </form>
    </div>

    <div id="search-results">
        {% block conteudo %}
        <p></p>
        {% endblock %}
    </div>
    <br>
    <div align="center" id="novo_pac">
        <a id="cadastro_rapido_paciente" href="#"> Novo Paciente + Checkin</a>
    </div>
{% endblock %}
