{% extends "base.html"%}
{% block content %}
<body OnLoad="document.form_listagem_fechamento.paciente.focus();">
<form name="form_listagem_fechamento" method="POST" action="/atendimento/listagem-geral-fechamento/" >

<form name="form_listagem_fechamento" method="POST" action="/atendimento/listagem-geral-fechamento/" >

<table>
    <tr>
    <td>Paciente: </td>
    <td>{{ form_listagem_fechamento.paciente }}</td>
    </tr>
    <tr>
    <td>Data: </td>
    <td>{{ form_listagem_fechamento.data }}</td>
    </tr>
    <tr>
    <td>
    Tratamento:</td>
    <td>{{ form_listagem_fechamento.tratamento }}</td>
    </tr>
</table>
<br>
<input type="submit" value="Pesquisar"/>


<table id="tabela-padrao">
    
	{% for atendimento in retorno %}
        {% if forloop.first %}

	      <tr>	
			<th width="30" align="center"> Senha </th>	
			<th width="40" align="center"> Conf. </th>	
		    <th> Hora cheg. </th>
		    <th width="80" >Sala </th>
		    <th> Nome </th>
		    <th> Info </th>
		    <th> Observação </th>
		    <th> Atualizar </th>
	      </tr>
            <tbody id="tabela-fechamento">
	      
        {% endif %}
		
		  <tr>
			<td align="center"> {{atendimento.senha}} </td>
			
			{% if atendimento.status == 'A' %}
                <td align="center"> <img src="/static/img/confirma_atendimento.png" width="16" height="16"/> </td>
            {% else %} {% if atendimento.status == 'C' %}
			    <font color=red>
			    <td align="center"> <img src="/static/img/nao_confirma_atendimento.png" width="16" height="16"/> </td>
                </font>
            {% endif %}
			{% endif %}
			
			<td align="center"> {{atendimento.hora}} </td>
			<td> {{atendimento.sala}} </td>
			<td> {{atendimento.nome}} </td>
			<td> {{atendimento.info}} </td>
			<td> {{atendimento.observacao}} </td>
			<td align="center">
                <!--a href="#" class="alterar" id="{{atendimento.id}}"-->
                <img alt="" width="20" height="20" src="/static/img/update.png" />
                <!--/a-->
            </td>
		  </tr>
	{% endfor %}
	</tbody>
</table>
</div>

</form>
{% endblock %}
