{% extends "base.html"%}
{% block content %}

<style>
#hor-minimalist-b{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:13px;background:#fff;border-collapse:collapse;text-align:left;margin:20px;}
#hor-minimalist-b th{font-size:14px;font-weight:normal;color:#039;border-bottom:2px solid #6678b1;padding:4px 4px;}
#hor-minimalist-b td{border-bottom:1px solid #ccc;color:#669;vertical-align:middle;padding:2px 3px;}
#hor-minimalist-b tbody tr:hover td{color:#009;}
#titulo{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:14px;background:#fff;border-collapse:collapse;text-align:left;margin:10px;}
#titulo td{padding:2px 4px;vertical-align:middle;}
#paginacao{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:14px;background:#fff;border-collapse:collapse;text-align:left;}

</style>

<form name="form_listagem_fechamento" method="POST" action="/atendimento/listagem-geral-fechamento/" >

<table>
       Data : {{ form_listagem_fechamento.data }}
       Tratamento : {{ form_listagem_fechamento.tratamento }}
        <input type="submit" value="Pesquisar"/>
</table>

<table id="hor-minimalist-b">
    
	{% for atendimento in retorno %}
        {% if forloop.first %}

	      <tr>	
			<th width="30" align="center"> Senha </th>	
			<th width="40" align="center"> Conf. </th>	
		    <th> Hora cheg. </th>
		    <th width="80" >Sala </th>
		    <th> Nome </th>
		    <th> Info </th>
		    <th> Observação </th>
	      </tr>
	      
        {% endif %}
		
		  <tr>
			<td align="center"> {{atendimento.senha}} </td>
			
			{% if atendimento.status == 'A' %}
                <td align="center"> <img src="/static/img/confirma_atendimento.png" width="16" height="16"/> </td>
            {% else %} {% if atendimento.status == 'C' %}
			    <font color=red>
			    <td align="center"> <img src="/static/img/nao_confirma_atendimento.png" width="16" height="16"/> </td>
                </font>
            {% endif %}
			{% endif %}
			
			<td align="center"> {{atendimento.hora}} </td>
			<td> {{atendimento.sala}} </td>
			<td> {{atendimento.nome}} </td>
			<td> {{atendimento.info}} </td>
			<td> {{atendimento.observacao}} </td>
		  </tr>
	{% endfor %}
</table>

</form>






{% endblock %}
