{% extends "base.html"%}
{% block content %}

<style type="text/css">

@PAGE landscape {size: landscape;}

div .listagem_form {

}
table {
	border-width: 1px;
	border-spacing: 2px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;    
}

table th {
	border-width: 1px;
	padding: 3px;
	border-style: dotted;
	border-color: gray;
	background-color: white;
}
table td {
	border-width: 1px;
	padding: 3px;
	border-style: dotted;
	border-color: gray;
	background-color: white;
}

</style>

<form name="listagemdiaria" method="POST" action="/atendimento/listagem-geral/" >

<table>
       Data : {{ form_listagem.data }}
        <input type="submit" class="listagem_form" value="Pesquisar"/>
</table>
<br>

<table class="listagem_form">

	<table>
	    
		{% for atendimento in retorno %}
            {% if forloop.first %}

		      <tr>	
				<th width="30" align="center"> Senha </th>		
			    <th> Hora cheg. </th>
			    <th> Sala </th>
			    <th> Nome </th>
			    <th> Info </th>
		      </tr>
		      
            {% endif %}
			
			  <tr>
				<td align="center"> {{atendimento.senha}} </td>
				<td align="center"> {{atendimento.hora}} </td>
				<td> {{atendimento.sala}} </td>
				<td> {{atendimento.nome}} </td>
				<td> {{atendimento.info}} </td>
			  </tr>
		{% endfor %}
	</table>
</table>

</form>






{% endblock %}
