{% extends "base.html"%}
{% block content %}

<form name="listagemdiaria" method="POST" action="/atendimento/listagem-geral/" >

<table>
       Data : {{ form_listagem.data }}
        <input type="submit" class="listagem_form" value="Pesquisar"/>
</table>

<table id="tabela-padrao">
    
	{% for atendimento in retorno %}
        {% if forloop.first %}

	      <tr>	
			<th width="30" align="center"> Senha </th>		
		    <th> Hora cheg. </th>
		    <th width="80" >Sala </th>
		    <th> Nome </th>
		    <th> Info </th>
	      </tr>
	      
        {% endif %}
		
		  <tr>
			<td align="center"> {{atendimento.senha}} </td>
			<td align="center"> {{atendimento.hora}} </td>
			<td> {{atendimento.sala}} </td>
			<td> {{atendimento.nome}} </td>
			<td> {{atendimento.info}} </td>
		  </tr>
	{% endfor %}
</table>
</form>

{% endblock %}
