{% extends "base.html" %}

{% block content %}

<div class="lista-atendimentos">
 
Paciente: {{nome_paciente}}

<table id="tabela-padrao">
	  <tr>
		<th>Data</th>
		<th>Tratamento</th>
		<th>Hora Chegada</th>
		<th>Observação</th>
		<th>Status</th>
	  </tr>

	{% for atendimento in pagina_atual.object_list %}
	  <tr>
		<td> {{atendimento.data}} </td> 
		<td> {{atendimento.tratamento}} </td>
		<td> {{atendimento.hora_chegada}} </td>
		<td> {{atendimento.observacao}} </td>
        {% if atendimento.status == 'A' %} 
            <td>Atendido</td>
        {% else %}
            {% if atendimento.status == 'C' %} 
                <td>Não atendido</td>
            {% else %}
                <td> - </td>
            {% endif %}
        {% endif %}
	  </tr>
	{% endfor %}
</table>

</div>

<br>

{% if pagina_atual.paginator.num_pages > 1 %}
<div class="pagination" id="paginacao">
	<span class="step-links">
	{% if pagina_atual.has_previous %}
		<a href="/atendimento/consultar/{{paciente_id}}/{{pagina_atual.previous_page_number}}"> Anterior</a> 
	{% endif %}

		<span class="current">
    			Página {{ pagina_atual.number }} de {{ pagina_atual.paginator.num_pages }}
		</span>

	{% if pagina_atual.has_next %}
		<a href="/atendimento/consultar/{{paciente_id}}/{{pagina_atual.next_page_number}}">Próxima</a>
	{% endif %}
	</span>
</div>


{% endif %}

{% endblock %}


