{% extends "base.html"%}
{% block content %}

<form name="form_listagem_fechamento" method="POST" action="/atendimento/listagem-geral-fechamento/" >

<table>
       Data : {{ form_listagem_fechamento.data }}
       Tratamento : {{ form_listagem_fechamento.tratamento }}
        <input type="submit" value="Pesquisar"/>
</table>

<table id="tabela-padrao">
    
	{% for atendimento in retorno %}
        {% if forloop.first %}

	      <tr>	
			<th width="30" align="center"> Senha </th>	
			<th width="40" align="center"> Conf. </th>	
		    <th> Hora cheg. </th>
		    <th width="80" >Sala </th>
		    <th> Nome </th>
		    <th> Info </th>
		    <th> Observação </th>
	      </tr>
	      
        {% endif %}
		
		  <tr>
			<td align="center"> {{atendimento.senha}} </td>
			
			{% if atendimento.status == 'A' %}
                <td align="center"> <img src="/static/img/confirma_atendimento.png" width="16" height="16"/> </td>
            {% else %} {% if atendimento.status == 'C' %}
			    <font color=red>
			    <td align="center"> <img src="/static/img/nao_confirma_atendimento.png" width="16" height="16"/> </td>
                </font>
            {% endif %}
			{% endif %}
			
			<td align="center"> {{atendimento.hora}} </td>
			<td> {{atendimento.sala}} </td>
			<td> {{atendimento.nome}} </td>
			<td> {{atendimento.info}} </td>
			<td> {{atendimento.observacao}} </td>
		  </tr>
	{% endfor %}
</table>

</form>
{% endblock %}
