{% extends "base.html"%}
{% block content %}

<script type="text/javascript">
function pagina(number){
	var url = "/atendimento/listagem/" + number + '/';
	document.listagemdiaria.action = url;
	document.listagemdiaria.submit();
}
</script>

<style media="print" type="text/css">

@PAGE landscape {size: landscape;}

div .listagem_form {
    display: none;

}
table {
	border-width: 2px;
	border-spacing: 2px;
	border-style: dotted;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;    
}

table th {
	border-width: 1px;
	padding: 1px;
	border-style: dotted;
	border-color: gray;
	background-color: white;
}
table td {
	border-width: 1px;
	padding: 1px;
	border-style: dotted;
	border-color: gray;
	background-color: white;
}

#header {
    display: none;
}

</style>




<form name="listagemdiaria" method="POST" action="/atendimento/listagem/" >

<table>
       Data : {{ form_listagem.data }}
       Tratamento: {{ form_listagem.tratamento }}
       {{ form_listagem.prioridade }} Prioridades
       {{ form_listagem.voluntario }} Voluntários
        <input type="submit" class="listagem_form" value="Pesquisar"/>
</table>
<br>


{% if pagina_atual.paginator.object_list|length > 0 %}
    <table>
    <td>
    <b>{{ tratamento }} &nbsp;</b>
    </td>
    <td>
    <b>
    <div class="pagination">
		    <span class="step-links">
		    <span class="current"> Página {{ pagina_atual.number }} </span>
            [
            {% for num_pagina in pagina_atual.paginator.page_range %}
                {% ifequal num_pagina pagina_atual %}
                    <span class="current">{{ num_pagina }}</span>
                {% else %}
                    <span><a href="#" onclick="pagina({{ num_pagina }});">{{ num_pagina }}</a></span>
                {% endifequal %}
            {% endfor %}
            ]
		    </span>
		       		
    </div>
    </b>
    </td>
    </table>
{% endif %}

<br>
<table class="listagem_form">

	<table>
		

        
		{% for atendimento in pagina_atual.object_list %}
            {% if forloop.first %}

		      <tr>	
				<th width="30" align="center"> # </th>		
			    <th width="30"> C </th>
			    <th width="30"> A </th>	
			    <th> Hora cheg. </th>
			    <th width="200"> Nome </th>
			    <th> Info </th>
			    <th> Observação </th>
		      </tr>
		      
            {% endif %}
			
			 {% if atendimento.prioridade %} 
			 <tr>
				<td class = 'prioridade' align="center"> {{atendimento.id}} </td>
				<td class = 'prioridade' ></td>
				<td class = 'prioridade'></td>
				<td class = 'prioridade' align="center"> {{atendimento.hora}} </td>
				<td class = 'prioridade'> {{atendimento.nome}} </td>
				<td class = 'prioridade'> {{atendimento.info}} </td>
				<td class = 'prioridade'></td>
			  </tr>
			 {% else %}
			  <tr>
				<td align="center"> {{atendimento.id}} </td>
				<td></td>
				<td></td>
				<td align="center"> {{atendimento.hora}} </td>
				<td> {{atendimento.nome}} </td>
				<td> {{atendimento.info}} </td>
				<td></td>
			  </tr>
			 {% endif %}
		{% endfor %}
	</table>
</table>

</form>






{% endblock %}
