{% extends "base.html"%}
{% block content %}
<style type="text/css">
@import url("/static/css/quinta.css");
</style>

<div class="realizar_agendamento">
<form method="POST" id="form_realizar_agendamento">
    <table id="cadastros_basicos_sub">
        <tr>
            <td></td>
            <td>{{form_agendamento.paciente.as_hidden}} {{form_agendamento.status.as_hidden}} {{paciente.nome}}</td>
        </tr>
    </table>
    <br>
    <table id="cadastros_basicos">
        <tr>
        <td> Tratamento / Data: </td>
        <td> {{form_agendamento.agenda_tratamento}} </td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Confirmar"/>
</form>
</div>
{% endblock %}
