{% extends "base.html"%}
{% block content %}
<style type="text/css">
@import url("/static/css/quinta.css");
</style>

<SCRIPT LANGUAGE="JavaScript">
<!--
<!-- Begin
function getSelectedText(elementId) {
    var elt = document.getElementById(elementId);
    if (elt.selectedIndex == -1)
        return null;
    return elt.options[elt.selectedIndex].text;
}

function show_hide_fone() {
    var text = getSelectedText('agenda');
    input = "Acolh"
    if (text.substring(0, input.length) === input) {
        document.getElementById('fone').style.display='block';
        document.getElementById('fone_field').style.display='block';
    }
    else {
        document.getElementById('fone').style.display='none';
        document.getElementById('fone_field').style.display='none';
    }
}

// por enquanto esse código está replicado.
// tentei a linha abaixo, mas não funcionou.
// onload = show_hide_fone()
onload = function show_hide_fone() {
    var text = getSelectedText('agenda');
    input = "Acolh"
    if (text.substring(0, input.length) === input) {
        document.getElementById('fone').style.display='block';
        document.getElementById('fone_field').style.display='block';
    }
    else {
        document.getElementById('fone').style.display='none';
        document.getElementById('fone_field').style.display='none';
    }
}



//  End -->
</script>


<div class="realizar_agendamento">
<form method="POST" id="form_realizar_agendamento">
    <table id="cadastros_basicos_sub">
        <tr>
            <td></td>
            <td>{{form_agendamento.paciente.as_hidden}} {{form_agendamento.status.as_hidden}} {{paciente.nome}}</td>
        </tr>
    </table>
    <br>
    <table id="cadastros_basicos">
        <tr>
        <td> Tratamento / Data: </td>
        <td> {{form_agendamento.agenda_tratamento}} </td>
        <td>
            <a href="/tratamento/incluir-agenda-tratamento/" target='_blank' title="Incluir nova agenda">
            <img alt="" width="20" height="20" src="/static/img/add.gif" />
            </a>
        </td>
        </tr>
        <tr>
        <td> <div id='fone'>Fone: <div></td>
        <td> {{form_agendamento.fone}} </td>
        <td>  </td>
        </tr>

    </table>
    <br>
    <input type="submit" value="Confirmar"/>
</form>
</div>
{% endblock %}
