{% extends "base.html" %}

{% block content %}
<style type="text/css">
label {
    display:none;
}
</style>

<SCRIPT LANGUAGE="JavaScript">
<!--
<!-- Begin
checked = false
function checkAll(field)
{
	 if (checked == false)
        checked = true
    else
        checked = false
          
    for (var i = 0; i < field.elements.length; i++)
        if(field.elements[i].type == 'checkbox' && field.elements[i].name != 'CheckAll')
        	field.elements[i].checked = checked ;
}

//  End -->
</script>

<form name='lista_voluntarios' action="/voluntario/registra-ponto/" method="POST">
    
    <div class="filtro">
       Data : {{ filtro_form.data }}
       <input type="submit" name="pesquisar" value="Pesquisar" />    
    </div>
    <br>
    <br>

<!-- {% if voluntarios.forms %} 
    <input type="checkbox" name="CheckAll" value="CheckAll" onClick="checkAll(document.lista_voluntarios)"> Selecionar todos
{% endif %}
-->
<table>
{{voluntarios.management_form}}
{% for voluntario in voluntarios.forms %}
    {% if forloop.first %}
    <tr>
    {% for coluna in voluntario %}
        {% if coluna.label == 'Id' %}
        <th> &nbsp; </th>
        {% else %}
        <th>{{coluna.label}}</th>
        {% endif %}
    {% endfor %}
    </tr>
    {% endif %}
    <tr>
    {% for coluna in voluntario %}
        <td>
        {{coluna}}
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% if voluntarios.forms %}
    <br>    
    <input type="submit" name="salvar" value="Salvar Dados" />
{% endif %}
</form>



{% endblock %}
