{% extends "base.html"%}
{% block content %}

<form name="form" method="POST" action="/atendimento/relatorio-atendimentos-mes/" >

<table>
       Data : {{ form.data }}
        <input type="submit" value="Pesquisar"/>
</table>
<br>

<table id="tabela-padrao">
    
	{% for dado in retorno %}
        {% if forloop.first %}

		  <tr>
		    {% for rotulo in lista_rotulos %}
				<th align="center"> {{rotulo}} </td>
            {% endfor %}
		  </tr>
	      
        {% endif %}
		
		  <tr>
		    {% for numero in dado %}
				<td align="center"> {{numero}} </td>
            {% endfor %}
		  </tr>
	{% endfor %}
</table>

</form>

{% if retorno %}
    <a href="/atendimento/relatorio-atendimentos-mes-csv/{{data_ordinal}}"><img src="/static/img/csv.png"  width="25" height="25"/> Salvar relatório </a>
{% endif %}

{% endblock %}
