{% extends "base.html"%}
{% block content %}

<form name="form" method="POST" action="/voluntario/relatorio-trabalhos/" >

<table>
       Data Inicial : {{ form.data_inicial }}
       Data Final : {{ form.data_final }}
       Dia Semana : {{form.dia_semana}}
        <input type="submit" value="Pesquisar"/>
</table>

<table id="tabela-padrao">

    <tr>
	{% for elemento in lista_rotulos %}
        <th align="center"> {{elemento}} </th>
    {% endfor %}
    </tr>
    
	{% for linha in lista_dados %}
    		
		  <tr>
		  {% for elemento in linha %}
			{% if elemento == 'P' %}
                <td align="center"> <img src="/static/img/confirma_atendimento.png" width="15" height="15" /> </td>
            {% else %} {% if elemento == 'F' %}
			    <td align="center"> <img src="/static/img/nao_confirma_atendimento.png" width="15" height="15" /> </td>
			{% else %}
    			<td align="center"> {{elemento}} </td>
            {% endif %}
            {% endif %}
          {% endfor %}
		  </tr>
	{% endfor %}
</table>

</form>

{% if lista_dados %}
    <a href="/voluntario/relatorio-trabalhos-csv/{{data_inicial_ordinal}}/{{data_final_ordinal}}/{{dia_semana_int}}">
        <img src="/static/img/csv.png"  width="25" height="25"/> Salvar relatório 
    </a>
{% endif %}


{% endblock %}
