{% extends "base.html"%}
{% block content %}

<form name="form" method="POST" action="/voluntario/relatorio-trabalhos/" >

<table>
       Data Inicial : {{ form.data_inicial }}
       Data Final : {{ form.data_final }}
       Dia Semana : {{form.dia_semana}}
        <input type="submit" value="Pesquisar"/>
</table>

<table id="tabela-padrao">

    <tr>
	{% for elemento in lista_rotulos %}
        <th align="center"> {{elemento}} </th>
    {% endfor %}
    </tr>
    
	{% for linha in lista_dados %}
    		
		  <tr>
		  {% for elemento in linha %}
			{% if elemento == 'PR' %}
                <td align="center"> 
                <img src="/static/img/confirma_atendimento.png" title="Presente" width="15" height="15" /> 
                </td>
            {% else %} 
                {% if elemento == 'FA' %}
			        <td align="center"> 
			        <img src="/static/img/nao_confirma_atendimento.png" width="15" height="15" title="Falta" /> 
			        </td>
                {% else %}
                    {% if elemento == 'FV' %}
			            <td align="center"> 
			            <img src="/static/img/warning_icon.png" width="15" height="15" title="Falta (viagem)"/> 
			            </td>
                    {% else %}
                        {% if elemento == 'FT' %}
			                <td align="center"> 
			                <img src="/static/img/warning_icon.png" width="15" height="15" title="Falta (Trabalho)" /> 
			                </td>
                        {% else %} 
                            {% if elemento == 'FL' %}
			                    <td align="center"> 
			                    <img src="/static/img/warning_icon.png" width="15" height="15" title="Falta (Licença)" /> 
			                    </td>
                            {% else %} 
                                {% if elemento == 'FS' %}
			                       <td align="center"> 
			                       <img src="/static/img/warning_icon.png" width="15" height="15" title="Falta (Saúde)" /> 
			                       </td>
                                {% else %}
                                    {% if elemento == 'NA' %}
			                           <td align="center"> 
			                           <img src="/static/img/blue-icon-hi.png" 
			                           width="15" height="15" title="Falta (Não se aplica)" /> 
			                           </td>
			                        {% else %}
                                        {% if elemento == 'NI' %}
			                               <td align="center"> 
			                               <img src="/static/question.png" 
			                               width="15" height="15" title="Não informado" /> 
			                               </td>
                                        {% else %}
            			                    <td align="center"> {{elemento}} </td>
                                        {% endif %}
            			            {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            
          {% endfor %}
		  </tr>
	{% endfor %}
</table>

</form>

{% if lista_dados %}
    <a href="/voluntario/relatorio-trabalhos-csv/{{data_inicial_ordinal}}/{{data_final_ordinal}}/{{dia_semana_int}}">
        <img src="/static/img/csv.png"  width="25" height="25"/> Salvar relatório 
    </a>
{% endif %}


{% endblock %}
