{% extends "base.html"%}
{% block content %}

<form name="form" method="POST" action="/voluntario/relatorio-voluntarios/" >

<table>
    <tr>
    <td>Tipo: </td>
    <td>&nbsp&nbsp{{ form.tipo }}</td>
    </tr>
    <tr>
    <td>Ativo: </td>
    <td>&nbsp&nbsp{{ form.ativo }}</td>
    </tr>
    <tr>
    <td>Dia de estudo:</td>
    <td>&nbsp&nbsp{{ form.dia_estudo }}</td>
    </tr>
</table>
<br>
<input type="submit" value="Pesquisar"/>
<br>
<table id="tabela-padrao">
    
	{% for voluntario in voluntarios %}
        {% if forloop.first %}

	      <tr>	
			<th width="40" align="center"> Ativo </th>	
		    <th width="260"> Nome </th>
		    <th> Tipo </th>
		    <th> Dia de Estudo </th>
		    <th> Telefone </th>
		    <th> E-mail </th>
		    <th> Observação </th>
	      </tr>
	      
        {% endif %}
		
		  <tr>
			{% if voluntario.ativo %}
                <td align="center" width="40"> <img src="/static/img/confirma_atendimento.png" width="20" height="20" /> </td>
            {% else %}
			    <td align="center" width="40"> <img src="/static/img/nao_confirma_atendimento.png" width="20" height="20" /> </td>
            {% endif %}
            <td width="260"> <a href="/voluntario/{{voluntario.id}}"> {{voluntario.paciente.nome}} </a> </td>
			<td> {{voluntario.tipo}} </td>
			{% if voluntario.dia_estudo %}
                <td> {{voluntario.get_dia_estudo_display}} </td>
            {% else %}
                <td> - </td>
            {% endif %}
			<td> {{voluntario.paciente.telefones}} </td>
			<td> {{voluntario.paciente.email}} </td>
			<td> {{voluntario.observacao}} </td>
		  </tr>
	{% endfor %}
</table>

</form>
{% endblock %}
