#iluminare {
	width: 960px;
	margin: 0px auto;
	font-family:arial;
}
#search {
	width: 50%;
	margin: 0px auto;
	padding:20px 0px 20px;
}
#search #q {
	width:100%;
	font-size:25px;
}
#lista-pessoas {
	font-size: 23px;
}
#lista-pessoas table {
	width:100%;
	border: 1px solid #000;
}
#lista-pessoas table td {
	padding:4px;
	border: 1px solid #555;
}
#lista-pessoas table th {
	padding: 6px;
}
#lista-pessoas table span {
	font-size:16px;
}
#dialog {
	width: 400px;
	height: 300px;
}
#detalhe-paciente {
	font-size: 20px;
	font-family: arial;
}
#detalhe-paciente textarea {
	width:70%;
	height: 50px;
}
