body {
	background-color: #FFF;
	background: #FFF url("../img/quinta-bg1.jpg") repeat-x;
	margin: 0px 
}
#iluminare {
	margin: 0px auto;
	width: 960px;
	background-color: transparent;
	font-family: Georgia;
}
#header {
	margin: 0px auto;
	height: 150px;
	position: relative;
	background-color: transparent;
}
#logo {
	position: absolute;
	top: 40px;
	left: 30px;
	background-color: transparent;
}

#navcontainer {
	position: absolute;
	top: 80px;
	right: 50px;
}

#navlist
{
padding: 0 1px 1px;
margin-left: 0;
font: 1.1em Verdana, sans-serif;
}

#navlist li
{
list-style: none;
margin: 0;
border-top: 1px solid;
display: inline;
}

#navlist li a
{
padding: 0.5em 0.6em 0.5em 0.6em;
background-color: #CDD4AE;
text-decoration: none;
}

#navlist li a:link { color: #448; }
#navlist li a:visited { color: #667; }
#navlist li a:hover {
color: #FFF;
background-color: #D3E3B5;
}
#content {
	margin: 0px auto;
	margin-bottom: 40px;
	position: relative;
	font-family: Arial;
}
#search-box {
	margin: 0px auto;
	margin-top: 30px;
	width: 350px;
	height: 50px;
	position: relative;
}
#search-box button {
	height: 25px;
	position: relative;	
	float: left;
}
#form-search {
	background-color: none;
	margin-right: 10px;
	float: left;	
}
.textInput {
	margin: 0px auto;	
	color: #333333;
	width: 250px;
	height: 25px;
	font-size: 1.2em;
	float: left;
}
#search-results {
	margin: 0px auto;
	width: 660px;
	height: 300px;
	border: 1px solid #e8e;
}
#footer {
	margin: 0px auto;
	height: 100px;
	background-color: #3AA;
}
div .paciente_consulta {
    width:400px;
    height:400px;
}
